%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{deps, [
  {exmpp, ".*", {git, "git://github.com/mkrentovskiy/exmpp.git", "rebar"}},
  {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "master"}},
  {iconv, ".*", {git, "git://github.com/erylee/erlang-iconv.git", "master"}},
  {reloader, ".*", {git, "http://github.com/bjnortier/reloader.git", "master"}}
  ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
